<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="i-header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ITZ">
    <title>
        ITZ
    </title>

<!--    <link rel="favicon" href="/img/woncoin.ico">-->

    <link href="/lib/semantic/semantic.min.css" rel="stylesheet">

    <link href="/lib/aggrid/ag-grid.css" rel="stylesheet">
    <link href="/lib/aggrid/ag-theme-balham.css" rel="stylesheet">
    <link href="/lib/aggrid/ag-theme-balham-dark.css" rel="stylesheet">
    <link href="/lib/aggrid/ag-theme-balham-alpine.css" rel="stylesheet">

    <link href="/css/common/common.css" rel="stylesheet">
    <link href="/css/common/main.css" rel="stylesheet">
    <link href="/css/common/menu.css" rel="stylesheet">
</th:block>

<th:block th:fragment="i-footer">
    <script src="/lib/jquery/jquery-3.6.0.js"></script>
    <script src="/lib/aggrid/ag-grid-community.js"></script>
    <script src="/js/common/common.js"></script>
    <script src="/js/common/commonInit.js"></script>
</th:block>

</html>